.sarika-logo {
	position: relative;
	background: #bb0c00;
	border-radius: .4em;
}

.sarika-logo:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #f08923;
	border-left: 0;
	margin-top: -8px;
	margin-left: -8px;
}

.right-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.6em solid transparent;
  border-left-color: #363334;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.34em;
  margin-right: 0.4em;
}

.left-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.6em solid transparent;
  border-right-color: rgb(240, 137, 35);
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.34em;
  margin-left: 0.4em;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
